<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

	<aop:aspectj-autoproxy />

	<bean name="triangle" class="com.bhuwan.spring.aop.model.Triangle">
		<property name="name" value="Triangle Name"></property>
	</bean>

	<bean name="circle" class="com.bhuwan.spring.aop.model.Circle">
		<property name="name" value="Circle Name"></property>
	</bean>

	<bean name="shapeService" class="com.bhuwan.spring.aop.service.ShapeService"
		autowire="byName" />

	<bean name="loggingAspect" class="com.bhuwan.spring.aop.aspect.LoggingAspect"></bean>
</beans>